<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>{{getdata}}</h1>
    <table
      border="1"
      bordercolor="blue"
      align="center"
      boarder-collapse="collapse"
    >
      <tr bgcolor="skyblue" >
        <td style="width:200px;">Time</td>
        {%for i in range(TotalResult|length)%}
        <td style="width:200px;">{{i}}</td>
        {%endfor%}
      </tr>
      <tr  >
        <td style="width:200px;">Task/Instance#</td>
        {%for i in TotalResult%}
        <td style="width: 200px;">{{i[0]}}<br>{{i[1]}}</td>
        {%endfor%}
      </tr>
    </table>
    <table border = 1>
            <tr>
               <th> Scheduler  </th>
               <td> {{inputlist[0] }} </td>
            </tr>
            <tr>
               <th> Server ExeTime </th>
               <td> {{inputlist[1][0]}} </td>
            </tr>
            <tr>
               <th> Server Period </th>
               <td> {{inputlist[1][1]}} </td>
            </tr>
            <tr>
               <th> Periodic Task  </th>
               <td> {{inputlist[2] }} </td>
            </tr>
            <tr>
               <th> Aperiodic Task </th>
               <td> {{inputlist[3]}} </td>
            </tr>
            <tr>
               <th> HyperPeriod </th>
               <td> {{HP}} </td>
            </tr>
      </table>
      {%if AvgWaitTime[1]==0 %}
      <p>Avg Waiting time: 0</p>
      {%else%}
      <p>Avg Waiting time: {{AvgWaitTime[0]/AvgWaitTime[1]}}</p>
      {%endif%}
      <p>Total Waiting Time: {{AvgWaitTime[0]}}<br>Total Aptask Done: {{AvgWaitTime[1]}}</p>
      <p>Input: {{inputlist}}</p>
      <p>{{TotalResult}}</p>
      <form action="http://localhost:1080/" >
        <button type="submit" value="submit">
          Return
        </button>
      </form>
  </body>
</html>
