<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>{{getdata}}</h1>
    <table
      border="1"
      bordercolor="blue"
      align="center"
      boarder-collapse="collapse"
    >
      <tr bgcolor="skyblue">
        {%for i in range(50)%}
        <td>i th column</td>
        {%endfor%}
      </tr>
      <tr>
        {%for i in range(50)%}
        <td>Second row</td>
        {%endfor%}
      </tr>
    </table>
    <table border = 1>
            <tr>
               <th> Scheduler  </th>
               <td> {{g.input[0] }} </td>
            </tr>
            <tr>
               <th> Server ExeTime </th>
               <td> {{g.input[1][0]}} </td>
            </tr>
            <tr>
               <th> Server Period </th>
               <td> {{g.input[1][1]}} </td>
            </tr>
            <tr>
               <th> Periodic Task  </th>
               <td> {{g.input[2] }} </td>
            </tr>
            <tr>
               <th> Aperiodic Task </th>
               <td> {{g.input[3]}} </td>
            </tr>
            <tr>
               <th> HyperPeriod </th>
               <td> {{g.HP}} </td>
            </tr>
      </table>
      <p>Avg Waiting time: {{g.AvgWaitTime[0]/g.AvgWaitTime[1]}}</p>
      <p>Total Waiting Time: {{g.AvgWaitTime[0]}}<br>Total Aptask Done: {{g.AvgWaitTime[1]}}</p>
      <p>Input: {{g.input}}</p>
      <p>{{g.TotalResult}}</p>
  </body>
</html>
