<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <form action="http://localhost:1080/chart" method="post">
      <input
        type="radio"
        name="Scheduler"
        value="PollingService"
      />PollingService
      <input
        type="radio"
        name="Scheduler"
        value="DeferrableService"
      />DefferableService <br />
      <button type="submit" value="submit">
        Generate Task
      </button>
    </form>
  </body>
</html>
