<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <form action="http://localhost:1080/chart" method="post">
      <input
        type="radio"
        name="Scheduler"
        value="PollingService"
      />PollingService
      <input
        type="radio"
        name="Scheduler"
        value="DefferableService"
      />DefferableService <br />
      Periodic Task List<br>
      <input type="text" size=50 name="periodic_task"><br>

      Aperiodic Task List<br>
      <input type="text" size=50 name="aperiodic_task"><br>

      <button type="submit" value="submit">
        Generate Task
      </button>
    </form>
  </body>
</html>
