<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>{{getdata}}</h1>
    <table
      border="1"
      bordercolor="blue"
      align="center"
      boarder-collapse="collapse"
    >
      <tr bgcolor="skyblue">
        {%for i in range(50)%}
        <td>i th column</td>
        {%endfor%}
      </tr>
      <tr>
        {%for i in range(50)%}
        <td>Second row</td>
        {%endfor%}
      </tr>
    </table>
    <table border = 1>
         {% for key, value in result.items() %}

            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>

         {% endfor %}
      </table>
      <p>Avg Waiting time: {{g.result}}</p>
      <p>Input: {{g.input}}</p>
  </body>
</html>
