<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <form method="post">
      <input
        type="radio"
        name="Scheduler"
        value="PollingService"
      />PollingService
      <input
        type="radio"
        name="Scheduler"
        value="DefferableService"
      />DefferableService <br />
      <button type="submit" name="button" onclick="location.href='/chart'">
        Make Chart
      </button>
    </form>
  </body>
</html>
